/* General styles - put these straight into your stylesheet */
body {
  margin: 0;
  width: 100% /* percent of body width from document html width (parent) */
}

h2, p, img {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Helvetica neue', Arial, 'sans serif';
  font-size: 10px; /* also set body font-size as 10px, default 16px */
  background-color: #ccc;
}

/*
  By default, the content width is set to 100% of the available space (after the margin, border, and padding have taken
   their share) — if you change the browser window width, the boxes will grow and shrink to stay contained inside
   the example output window. The height of the content will default to the height of the content inside it.
*/
/* styles specific to the setup of the card container */
.card {
  width: 14%; /* 14% of body width */
  /* height: 20%; do not use - card height will be automatically calculated based on used elements height. */
  /* otherwise inner elements will be streched out of card */
  /* padding: 1%; */
  border: 0.2em solid black;
  border-radius: 1.5em;
  /* outline: 0.5em solid goldenrod; */
}
/* styles specific to the header and footer */
.card header {
  /* height: 6%;  height will be automatically calculated based on used elements height */
  /* margin: 5% auto; do not use */
  padding: 2% 5%;  /* top_and_bottom right_and_left */
  background-color: red;
  border-radius: 1.5em 1.5em 0 0;  /* position: relative; */

  background-image: linear-gradient(to bottom,rgba(0,0,0,0.1), rgba(0,0,0,0));
}
.card footer {
  /* height: 6%;  height will be automatically calculated based on used elements height */
  /* margin: 5% auto; do not use*/
  padding: 2% 5%; /* top_and_bottom right_and_left */
  background-color: red;
  background-image: linear-gradient(to bottom,rgba(0,0,0,0.0), rgba(0,0,0,0.1));
  border-radius: 0 0 1.5em 1.5em;
}
/* styles specific to the main business card contents. */
.card article {
  background-color: crimson;
  /* height: 80%;  height will be automatically calculated based on used elements height*/
  /* margin: 5% auto; do not use */
  padding: 0 0 0 5%; /* top_and_bottom right_and_left */
  /* width: 100%; will automatically fit card */
  overflow: auto; /* must be otherwise pic stretched over */
}
.card article img {
  float: right;
  /* display: block; */
  /* height: 10%; width overrides img height */
  width: 40%; /* 40% of article width or 105px */
  /* position: relative; */
  /*  top: -7px; right: -33px; */
  /* border-radius: 8px; */
}

/* originals */
/* Selectors to be matched up with rulesets */
/* Rulesets to be matched up with selectors */