/* || General setup */

html, body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  background-color: white;
}

body {
  width: 70%;
  margin: 3% 3% 3% 3%; /* top+right+bottom+left 0 auto; */
  background-color: #dfdbdb; /* #a9a9a9  will be background-color for all doc if no set in html*/
  border: thick solid black;
  outline: dashed red;
}

/* || typography */
h1, h2, h3 {
  font-family: 'Sonsie One', cursive;
  color: #2a2a2a;
}

p, input, li {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #2a2a2a;
}

h1 {
  font-size: 4rem;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 10px black;
}

h2 {
  font-size: 3rem;
  text-align: center;
}

h3 {
  font-size: 2.2rem;
}

p, li {
  font-size: 1.6rem;
  line-height: 1.5;
}

/* || header layout */

header {
  margin-bottom: 10px;
}

article, aside, footer {
  background-color: white;
  padding: 1%;
}

nav {
  padding: 1%;
  height: 50px;
  background-color: #ff80ff;
  display: flex; /* for childd ul and form */
}

nav ul {
  padding: 0;
  list-style-type: none;
  flex: 2; /* to upper level nav display: flex; */
  display: flex; /* to childs li */
}

nav li {
  display: inline;
  text-align: center;
  flex: 1;
}

nav a {
  display: inline-block;
  font-size: 2rem;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}

nav form {
  flex: 1; /* to upper level nav display: flex; */
  display: flex; /* to childs input search and submit */
  align-items: center;
  height: 100%;
  padding: 0 2em;
}

input {
  font-size: 1.6rem;
  height: 32px;
}

input[type="search"] {
  flex: 3;
}

input[type="submit"] {
  flex: 1;
  margin-left: 1rem;
  background: #333;
  border: 0;
  color: white;
}

/* || main layout */

main {
  display: flex; /* to childs article and aside */
}

article {
  flex: 4;
}

aside {
  flex: 1;
  margin-left: 10px;
  background-color: #ff80ff;
}

aside li {
  padding-bottom: 10px;
}

footer {
  margin-top: 10px;
}