/* || General setup */

html, body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  background-color: white;
}

body {
  width: 70%;
  margin: 3% 3% 3% 3%; /* top+right+bottom+left 0 auto; */
  background-color: #dfdbdb; /* #a9a9a9  will be background-color for all doc if no set in html*/
  border: thick solid black;
  outline: dashed red;
}

#wdt {
  font-family: 'Open Sans Condensed', sans-serif;
  /* font-size: 1.6rem; */
  border-bottom: 1px solid;
}

/* || typography */
h1, h2, h3, h4 {
  font-family: 'Sonsie One', cursive;
  color: #2a2a2a;
}

p, input, li {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #2a2a2a;
}

h1 {
  font-size: 4rem;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 10px black;
}

h2 {
  font-size: 3rem;
  text-align: center;
}

h3 {
  font-size: 2.2rem;
}

h4 {
  font-size: 1.5rem;
}

p, li {
  font-size: 1.6rem;
  line-height: 1.5;
}

/* || header layout */

header {
  margin-bottom: 10px;
}


nav {
  padding: 1%;
  height: 50px;
  background-color: #ff80ff;
  display: flex; /* for childs - ul and search form */
}

nav ul {
  padding: 0;
  list-style-type: none;
  flex: 2; /* proportion 2 to upper level nav display: flex; */
  display: flex; /* to childs - li elements */
}

nav li {
  display: inline;
  text-align: center;
  flex: 1; /* proportion 1 (all equals) */
}

nav a {
  display: inline-block;
  font-size: 2rem;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}

nav form {
  flex: 1; /* proportion 1 to upper level nav display: flex; */
  display: flex; /* to childs - input search and submit */
  align-items: center;
  height: 100%;
  padding: 0 2em;
}

input {
  font-size: 1.6rem;
  height: 32px;
}

input[type="search"] {
  flex: 3; /* proportion 3 to upper level form */
}

input[type="submit"] {
  flex: 1; /* proportion 1 to upper level form */
  margin-left: 1rem;
  background: #333;
  border: 0;
  color: white;
}

#logoimg {
  float: left;
  /* float: right; */
  /* margin-right: 2px; */
  margin: 0px 5px 0px 5px; /* top-right-bottom-left */
  /* margin-left: 2px; */
  width: 75px;
  height: 50px;
  border-radius: 5px;
  background-color: white;
  padding: 1em;
  border: thin solid black;
  /* outline: dashed blue; */
}

article, footer {
  background-color: white;
  padding: 1%;
}

/* || main layout */

main {
  /* display: flex; /* to childs - article and asides */
}

/* flex or natural flow can be used */
article {
  /* flex: 1; /* 4 proportion 4 to upper level main */
}

.asides {
  margin-top: 10px;
  /* flex: 1; */
  display: flex; /* to childs aside1 and aside2 */
}

#aside1 {
  flex: 1; /* aside proportion 1 to upper level div .asides */
  margin-left: 10px;
  margin-right: 10px;
  background-color: #ff80ff;
  padding: 5px;

}


#aside2 {
  flex: 1; /* aside proportion 1 to upper level  div .asides */
  margin-right: 10px;
  background-color: #ff80ff;
}

aside li {
  padding-bottom: 10px;
}

#asideimg {
  float: left;
  /* float: right; */
  /* margin-right: 2px; */
  margin: 0px 5px 0px 0px; /* top-right-bottom-left */
  /* margin-left: 2px; */
  width: 75px;
  height: 50px;
  border-radius: 5px;
  /* background-color: #dfdbdb; */
  /* padding: 1em; */
  border: thin solid black;
  /* outline: dashed blue; */
}

footer {
  margin-top: 10px;
}